body {
    background: rgb(243,74,74);
    background: linear-gradient(250deg, rgba(243,74,74,1) 35%, rgba(220,159,158,1) 100%);
    text-align: center;
}

main {
    position: fixed; top: 20%; left: 40%;
}
form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
h3 {
    color: white;
}
#add {
    color: rgb(89, 115, 233);
}

section {
    background: white;
}

#clear {
    margin-top: 10px;
    color: rgb(243,74,74);
}
point.completed .taskText {
    text-decoration: line-through;
    color: #999;
}