* {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.cardUP {
    display: inline-block;
    text-align: center;
}
a {
    color: white;
    margin-right: 0;
}
a:hover {
    scale: 1.1;
}


@media all and (min-width: 800px) { 
    nav {
        background-color: black;
        height: 60px;
        color: white;
        position: relative;
        margin-bottom: 0;
        width: 102%;
        position: center;
    }
    article {
        background-image: url("index.jpeg");
        background-size: cover;
        position: absolute;
        width: 100%;
        height: 75%;
        margin-bottom: 20px;
    }
    section {
        color: black;
        text-align: center;
        left: 15%;
        right: 15%;
    }
    section {
       position: absolute;
       top: 87%;
       float: inherit;
       height: 20%;
    }
    p {
        text-align:center;
        padding-top: 2%;
        font-size: 2em;
        font-weight: bold;
        color: white;
    }
    article p {
        padding-left: 40px;
        padding-right: 40px;
    }
    form {
        text-align:center;
        padding-top: 15px;
        font-size: 1em;
        padding-bottom: 40px;
        color: white;
    }
    #shop {
        position: absolute;
        top: 1.2em;
        right: 10%;
        font-size:small;
    }
    #signup {
        position: absolute;
        top: 1.2em;
        right: 30%;
        font-size: small;
    }
    #login {
        position: absolute;
        top: 1.2em;
        right: 45%;
        font-size: small;
    }
    
    #home {
        position: absolute;
        margin-left: 3em;
        top: 1.2em;
        font-size: small;
    }
    i {
        position: absolute;
        margin-left: 1em;
        top: 1.35em;
        font-size:small;
    }
}
@media all and (max-width: 480px) {
    nav {
        background-color: black;
        height: 60px;
        color: white;
        position: relative;
        margin-bottom: 0;
        width: 100%;
        position: center;
    }
    article {
        background-image: url("index.jpeg");
        background-size: cover;
        position: absolute;
        width: 95.5%;
        height: 75%;
        margin-bottom: 20px;
    }
    section {
        color: black;
        text-align: center;
        left: 15%;
        right: 15%;
    }
    section {
       position: absolute;
       top: 88%;
       float: inherit;
       height: 15%;
       font-size: xx-small;
    }
    p {
        text-align:center;
        padding-top: 2%;
        font-size: 2em;
        font-weight: bold;
        color: white;
    }
    article p {
        padding-left: 40px;
        padding-right: 40px;
    }
    form {
        text-align:center;
        padding-top: 15px;
        font-size: 0.5em;
        padding-bottom: 40px;
        color: white;
    }
              nav {
        background-color: black;
        height: 60px;
        color: white;
        position: relative;
        margin-bottom: 0;
        width: 100%;
        position: center;
    }
    #shop {
        position: absolute;
        top: 1.2em;
        right: 0.8em;
        font-size:xx-small;
    }
    #signup {
        position: absolute;
        top: 1.2em;
        right: 9em;
        font-size: xx-small;
    }
    #login {
        position: absolute;
        top: 1.2em;
        right: 13.5em;
        font-size: xx-small;
    }
    
    #home {
        position: absolute;
        margin-left: 3em;
        top: 1.2em;
        font-size: xx-small;
    }
    i {
        position: absolute;
        margin-left: 1em;
        top: 1.35em;
        font-size:xx-small;
    }
}
@media all and (max-width: 800px) and (min-width: 480px) { 
    nav {
    background-color: black;
    height: 60px;
    color: white;
    position: relative;
    margin-bottom: 0;
    width: 100%;
    position: center;
}
article {
    background-image: url("index.jpeg");
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 75%;
    margin-bottom: 20px;
}
    section {
        color: black;
        text-align: center;
        left: 15%;
        right: 15%;
    }
    section {
       position: absolute;
       top: 88%;
       float: inherit;
       height: 15%;
       font-size: xx-small;
    }
    p {
        text-align:center;
        padding-top: 2%;
        font-size: 2em;
        font-weight: bold;
        color: white;
    }
    article p {
        padding-left: 40px;
        padding-right: 40px;
    }
    form {
        text-align:center;
        padding-top: 15px;
        font-size: 0.3em;
        padding-bottom: 40px;
        color: white;
    }
    nav {
        background-color: black;
        height: 60px;
        color: white;
        position: relative;
        margin-bottom: 0;
        width: 100%;
        position: center;
    }
    #shop {
        position: absolute;
        top: 1.2em;
        right: 1em;
    }
    #signup {
        position: absolute;
        top: 1.2em;
        right: 10em;
    }
    #login {
        position: absolute;
        top: 1.2em;
        right: 15em;
    }
    #home
    {
        position: absolute;
        margin-left: 3em;
        top: 1.2em;
    }
    i {
        position: absolute;
        margin-left: 1em;
        top: 1.35em;
    }
}

#section {
    color: rgb(114, 14, 14);
}

    #footer {
        text-align: center;
        color: white;
        padding-top: 0.3%;
        font-size: smaller;
    }
    footer {
        position: fixed;
        bottom: 0;
        background-color: black;
        width: 100%;
        COLOR: WHITE;
        height: 30px;
    }

