.container {
    margin: auto 0;
    text-align: center;
    /* vertical-align: middle; */
    justify-content: space-between;
    display: flex;
    align-items: center;
    align-content: stretch;
    
}
.box {
    height: 10vh;
    width: 10vh;
    background-color: yellow;
}
.group {
    display: flex;
}
.first, .third {
    flex-direction: column;
    justify-content:space-around;
    /* align-items: center;
    align-content: center; */
    height: 100vh;
}
.second {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    flex-grow: 1;
    align-self: stretch; 
    /* margin-right: 10vh;
    margin-left: 10vh; */
    /* height: 100vh;*/
    
}
.first {
    align-items: flex-end;
}
.third {
    align-items: flex-start;
}